--vh: 5.52px;
-webkit-text-size-adjust: 100%;
list-style-type: none;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
text-decoration: none;
transition: all .2s ease-in-out;
cursor: pointer;
border: 0;
padding: 1.5rem 1rem 1.5rem 4rem;
line-height: 1;
background: #37003c;
margin-bottom: .2rem;
z-index: 15;
position: relative;
font-family: 'PremierSans-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
font-weight: normal;
color: rgba(255, 255, 255, 0.6);
display: flex;
height: 5.4rem;
align-items: center;
width: 40%;
font-size: 1.2rem;